<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/f5a99577-a923-4fc4-abeb-5792490e9a52/resourcegroups/StudentManagementRG/providers/Microsoft.Web/sites/StudentHoursManagement20240721174701</ResourceId>
    <ResourceGroup>StudentManagementRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://studenthoursmanagement20240721174701.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f0dfe4ba-3fd2-4b89-b4cc-8584cb417854</ProjectGuid>
    <PublishUrl>https://studenthoursmanagement20240721174701.scm.azurewebsites.net/</PublishUrl>
    <UserName>$StudentHoursManagement20240721174701</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>